*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    display: grid;
    place-items: center;
    
}

.container{
    display: grid;
    place-items: center;
    margin: 20px;
    row-gap: 40px;
}

.header .navbar .list {
    display: flex;
    background-color: blueviolet;
    gap: 50px;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 1rem;
}

.list li a{
    color: white; 
    cursor: pointer;
}

.section {
    display: grid;
    place-items: center;
    row-gap: 40px;
    width: 50%;
}

.section .brand h1 {
    font-size: 3rem;
    text-align: center;
}

.terms ul{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.terms ul li{
    background-color: #ddd6d6;
    border-radius: 30px;
    padding:5px 10px;
    cursor: pointer;
}

.images {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.images div {
    height: 150px;
    border: 2px solid black;
    
}

.images div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
 
}

.footer {
    background-color: #ddd6d6;
    padding: 5px;
    width: 100%;
    text-align: center;
    font-size: 1rem;
}