*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --bgColor: #1f1d1d;
    --secbgColor: #383535;
    --secTextColor: #039297;
    --textColor: #05e8f0;
    --thirdTextColor: #fff; 
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bgColor);
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    overflow-x: hidden;
}

 #about, #services, #portfolio, #contact {
    min-height: 100vh;
    display: grid;
    align-items: center;
}

#header .nav-bar {
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    background-color: var(--bgColor);
    z-index: 100;
    
}

nav h1 span {
    color: var(--textColor);
}

nav ul {
    display: flex;
    column-gap: 5rem;
    list-style: none;
    text-decoration: none;
}
nav .fa-solid {
    display: none;
}

nav ul li a{
   color: #fff;
   position: relative;
}

nav ul li .active {
    color: var(--textColor);
}

nav ul li a::after{
    content: '';
    position: absolute;
    width: 0;
    background-color: var(--textColor);
    height: 3px;
    left: 0;
    bottom: -6px;
    transition: all .3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}


.container {
    padding: 30px 10%;
    
}

.sub-title {
    font-size: 2.4rem;
}

.sub-title span {
    color: var(--textColor);
}

.container .hero-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    
}

.hero-section .name {
    display: grid;
    row-gap: 10px;
    font-size: 2.2rem;
}

.name p {
    font-size: .7rem;
    color: var(--textColor);
}


.name .social-icon {
    display: flex;
    column-gap: 20px;
    font-size: .8rem;
    align-items: center;
    justify-content: start;
    position: relative;
    margin-top: 10px;
}

.social-icon a {
    color: var(--thirdTextColor);
    border-radius: 100%;
    border: 1px solid var(--textColor);
    padding: 15px;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: all .2s cubic-bezier(0.42, 0, 0.44, 1.68);
}

.social-icon a::before {
    content: attr(data-attr);
    position: absolute;
    background-color: var(--accent-col);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: .6rem;
    font-weight: 500;
    border-radius: 10px;
    padding: 2px 3px;
    transform: translateY(-30px) rotate(25deg);
    opacity: 0;
    transition: all .2s cubic-bezier(0.42, 0, 0.44, 1.68);
}

.social-icon a:hover {
    background-color: var(--accent-col);
    color: #fff;
    border: transparent;
}

.social-icon a:hover::before{
    transform: translateY(-30px) rotate(0);
    opacity: 1;
}


.name .download {
    background-color: var(--textColor);
    border-radius: 4rem;
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--bgColor);
    letter-spacing: .2px;
    width: 150px;
    text-align: center;
    box-shadow: 0 0 .8rem var(--textColor);
    transition: all .2s ease;
}

.name .download:hover{
    box-shadow: none;
}



/**********   ABOUT SECTION ****************/

.container .about {
    display: flex;
    column-gap: 50px;
    height: auto;
    
}

.about div p {
    margin-top: 10px;
}

.about #tab-content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

#tab-content .tab-title {
    display: flex;
    column-gap: 6rem;
}

.tab-title .tab-links {
    position: relative;
    cursor: pointer;
}

.tab-title .tab-links::after {
    content: "";
    position: absolute;
    width: 0;
    background-color: var(--textColor);
    left: 0;
    bottom: -6px;
    height: 3px;
    transition: .3s;
    
}

.tab-title .tab-links.active::after {
    content: "";
    position: absolute;
    width: 50%;
    background-color: var(--textColor);
    left: 0;
    bottom: -6px;
    height: 3px;
}

#tab-content .tab-contents ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}

.tab-contents ul li span{
    color: var(--textColor);
}

.tab-contents {
    display: none;
   
}

.active-tab {
    display: block;
    
}
   


/**********   SERVICES SECTION ****************/

#services .container {
    text-align: center;
}

#services .container .service {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 30px;
    margin-top: 50px;
   
}

.service div {
    background-color: #2c2b2b;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    align-items: center;
    transition: all .3s;
}

.service div h3 {
    color: var(--textColor);
}

.service div a {
    background-color: var(--textColor);
    border-radius: 4rem;
    padding: 8px 10px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--bgColor);
    letter-spacing: .2px;
    width: 50%;
    text-align: center;
    box-shadow: 0 0 .8rem var(--textColor);
    margin: 10px;
    transition: all .2s ease;
    
}

.service div a:hover {
    box-shadow: none;
}

.service div:hover{
    transform: scale(1.02);
    border: 2px solid var(--textColor);
}


/**********   PORTFOLIO SECTION ****************/

#portfolio .container {
    text-align: center;
}

#portfolio .container .portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 20px;
    margin-top: 50px;
}

.portfolio div {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    text-align: center; 
  
}

.portfolio div img {
    width: 100%;
    height: 100%;
    display: block;
    transition: all .3s ease;
    
}

.portfolio div .layer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 0;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,.4), var(--secTextColor));
    transition: all .4s ease;
    
}

div .layer h4 {
    font-size: 1.2rem;
}

div .layer a {
    margin-top: 10px;
    background-color: #fff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio div:hover img {
    transform: scale(1.1);
}

.portfolio div:hover .layer {
    height: 100%;
}


/**********   CONTACT SECTION ****************/

#contact .container {
    display: grid;
    place-items: center;

}

.contact {
    margin-top: 50px;
    
}

.contact .form form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 40rem;
    
}

.form form input, textarea {
    padding: 10px;
    outline: none;
    border: none;
    background-color: var(--secbgColor);
    color: var(--thirdTextColor);
    resize: none;
}

.form form .btn {
    text-align: center;
    width: 10rem;
    padding: 8px 20px;
    border: 1px solid var(--secTextColor);
    outline: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    transition: all .2s ease;
}

form .btn:hover {
    border: none;
    background-color: var(--secTextColor);
}

.removeBar {
    right: 0;
}

#msg {
    color: rgba(11, 255, 11, 0.856);
}


/**********  Responsive screen ****************/

@media only screen and (max-width: 900px) {
   
    nav ul {
        position: fixed;
        display: flex;
        flex-direction: column;
        gap: 20px;
        right: -500px;
        top: 0;
        border-bottom-left-radius: 5px;
        background-color: var(--secTextColor);
        padding: 30px 40px;
        width: 40%;
        transition: all .5s;
    }

    nav ul li {
        margin-top: 20px;
    }

    nav .fa-solid {
        display: block;
        font-size: 1.2rem;
    }

    .nav-bar ul .fa-solid {
        position: absolute;
        right: 20%;
    }

    .hero-section img {
       position: absolute;
       right: -150px;
    
    }

    .hero-section .name h3 {
        font-size: 1.5rem;
    }

    .sub-title {
        font-size: 2rem;
    }

    .about, .service, .portfolio {
        display: flex;
        flex-direction: column;
        font-size: 1rem;

    }

    .about div img {
        height: 300px;
    }

    .service, .portfolio {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }

    .contact .form form {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        width: 25rem;
        
    }
}